In [1]:
!pip install -q dtale

In [2]:
import pandas as pd  
import dtale

change path to file containing Emotion labels - here "final_dataframe.xlsx"

In [3]:
path = "/Users/jobairhossain/Jobair-Main/Education/Kennesaw/Study at KSU/PhD CS/Spring 2023/Depth Examination/NLP Model/NewDatasetTranscription/NDfinal_dataframe.xlsx"

df = pd.read_excel(path)
df.head()

,Filenames,Texts,Emotions_T5,Confidence_T5,Emotions_BERT,Confidence_BERT,Emotions_XLNet,Confidence_XLNet
0,Audio A,"Good morning, scholars. Good morning, everyone...",happiness,0.994398,fear,0.653691,negetive,0.341949
1,Audio A,hero. This is a figure that I think is a lot m...,happiness,0.996805,happiness,0.440502,negetive,0.064805
2,Audio A,come back from that. The only thing about his ...,happiness,0.983622,surprise,0.660798,negetive,-0.013817
3,Audio A,It's a little bit of a serious book. You got t...,sadness,0.984522,anger,0.929814,positive,0.259593
4,Audio A,the Zook and the Dauphin. Probably the goofbal...,happiness,0.970010,happiness,0.747194,positive,0.064780

In [4]:
d = dtale.show(df,host='localhost')
d.open_browser()
print(f"Data : {d._data_id} - URL : {d._url}")
d2 = dtale.get_instance(d._data_id) 
dtale.instances()

Data : 1 - URL : http://localhost:40000
To gain access to an instance object simply pass the value from 'ID' to dtale.get_instance(ID)

ID Name                                 URL
 1      http://localhost:40000/dtale/main/1
        http://localhost:40000/dtale/main/1

/Users/jobairhossain/opt/anaconda3/lib/python3.9/site-packages/dtale/charts/utils.py:642: FutureWarning:

Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.

2023-04-26 01:51:24,242 - INFO     - Executing shutdown due to inactivity...
2023-04-26 01:51:24,781 - INFO     - Executing shutdown...
/Users/jobairhossain/opt/anaconda3/lib/python3.9/site-packages/dtale/app.py:422: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.

In [5]:
d.kill()

In [1]:
#